<div class="container">
    <form [formGroup]="formularioContacto" (ngSubmit)="onSubmit()">
        <h1 class="title">Login Avanzado</h1>

        <div class="formGroup">
            <label for="username">Correo Electrónico</label>
            <input id="username" type="mail" formControlName="username">

            <div *ngIf="formularioContacto.get('username')?.invalid && formularioContacto.get('username')?.touched">
                <small *ngIf="formularioContacto.get('username')?.errors?.['required']">
                    El correo es obligatorio
                </small>
                <small *ngIf="formularioContacto.get('username')?.errors?.['email']">
                    Introduce un correo válido
                </small>
            </div>
        </div>

        <div class="formGroup">
            <label for="password">Contraseña</label>
            <input [type]="mostrarPassword ? 'text' : 'password' " id="password" formControlName="password">

            <button class="toggleBtn" type="button" (click)="togglePasswordVisibility()">Mostrar/Ocultar</button>

            <div *ngIf="formularioContacto.get('password')?.invalid && formularioContacto.get('password')?.touched">
                <small *ngIf="formularioContacto.get('password')?.errors?.['required']">
                    La contraseña es obligatoria
                </small>
                <small *ngIf="formularioContacto.get('password')?.errors?.['minlength']">
                    La contraseña debe tener al menos 8 caracteres
                </small>
                <small *ngIf="formularioContacto.get('password')?.errors?.['pattern']">
                    La contraseña debe contener al menos una mayúscula, una minúscula, un número y un carácter especial
                </small>
            </div>
        </div>

        <div class="formGroup">
            <label for="confirmPassword">Confirmar Contraseña</label>
            <input [type]="mostrarPassword ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword">

            <div *ngIf="formularioContacto.errors?.['mismatch'] && formularioContacto.get('confirmPassword')?.touched">
                <small>Las contraseñas no coinciden</small>
            </div>
        </div>

        <div class="formGroup">
            <label class="checkBox">
                <input class="btnCheck" type="checkbox" formControlName="rememberMe"> Recordar Usuario
            </label>
        </div>

        <button class="submitBtn" type="submit" [disabled]="formularioContacto.invalid">Iniciar Sesión</button>
    </form>

    <div *ngIf="mensajeEnviado" class="mensaje-emergente">
        ¡Inicio de sesión exitoso!
      </div>
</div>
