@import '../../styles/shared-styles';


form {
  border: 1px solid $primary-color;


  label {
    color: $primary-color;
  }

  input,
  textarea {
    border: 1px solid $primary-color;

    &:focus {
      outline: none;
      border-color: darken($primary-color, 10%);
      box-shadow: 0 0 5px rgba(80, 167, 140, 0.5);
    }
  }
  small {
    color: $error-color;
  }

  button {
    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

.mensaje-emergente {
  background-color: $primary-color;
}

