<div class="container">

   <h1 class="title">Formulario Reactivo Angular</h1>
   
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="form1" (click)="onOption('form1')" >Form1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="form2" (click)="onOption('form2')">Form2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="form3" (click)="onOption('form3')">Form3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="form4" (click)="onOption('form4')">Form4</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


 




<!-- Footer -->

  
<router-outlet />
<footer class="footer">
    © Sara {{ currentYear }}
</footer>
</div>